body {
    font-family: Lato, sans-serif;
    background-color: #efefef;
}
.contenedor{
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 4fr;
    /* justify-content: center; */
}

.cabecera{
    text-align: center;
}

.tarjetas{
    display: flex;
    flex-direction: column;
}

.tarjeta1, .tarjeta2, .tarjeta3, .tarjeta4 {
    background-color: white;
    border-radius: 10px;
    padding: 13px;
    margin: 10px;
    box-shadow: 0 0 5px black;
}

.gratis{
    background-color: rgb(13, 114, 234);
    color: #fff;
    font-weight: 550;
    padding: 3px 6px;
    margin: 5px 0px;
    border-radius: 5px;
    /* border-style:dotted ; */
    /* border-color:  rgb(13, 114, 234); */
    /* border-width: 2px; */
    border: 1px solid #0d72ea;
}

.planes{
    background-color: #fff;
    color:  rgb(13, 114, 234);
    font-weight: 550;
    padding: 3px 6px;
    margin: 5px;
    border-radius: 5px;
    /* border-style: ridge; */
    /* border-color:  rgb(13, 114, 234); */
    /* border-width: 2px; */
    border: 1px solid #0d72ea;
}

.comenzar{
    background-color: black;
    color: white;
    font-size: large;
    text-transform: uppercase;
    /* font-weight: 100; */
    width: 100%;
    padding: 20px 20px;
    margin: 5px;
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    transition: 0.5s all;
}

.comenzar:hover{
    transform: scale(102%)
}

.letrapequeña{
    font-size: small;
}